header {   
    text-align: center;
    padding: 3px;
    background-color: lightgray;
    color: gold;
  }

footer {
    text-align: center;
    padding: 3px;
    background-color: lightgray;
    color: gold;
  }

#buttons{
    width: 50vw;
    margin: auto;
    text-align: center;
  }
button {
    border: none;
    color: black;
    padding: 13px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 50px 20px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 40%;
  }
  
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #960303;
  }
  
  .button1:hover {
    background-color: #960303;
    color: blue;
  }

  .myimage{
    width:400px;
    height:500px;
    transform:scale(1);
  }
body{
  background-color: grey;
}

.container{
    display:flex;
}

.p{
    background-color: black;
}
